{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block body %}
    <h1>Video's</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Titel</td>
                <td>Beschrijving</td>
                <td>Duur</td>
                <td>Uploadtijd</td>
            </tr>
        </thead>
        <tbody>
            {% for video in videos %}
                <tr>
                    <td>{{ video.videoId }}</td>
                    <td><a href="{{ path('video.show', {videoId: video.videoId} ) }}">{{ video.title }}</a></td>
                    <td>{{ video.description }}</td>
                    <td>{{ video.duration }}</td>
                    <td>{{ video.uploadDateTime|date('d-m-Y H:i:s') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
